html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

#root {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
}

.fighters {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex: 1;
	flex-wrap: wrap;
	padding: 0 15px;
}

.flex-first {
	order: -1;
}

.fighter {
	display: flex;
	flex-direction: column;
	padding: 20px;
}

.fighter.invert-image img {
	transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
}

.fighter:hover {
	box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.06);
	cursor: pointer;
}

.name {
	align-self: center;
	font-size: 21px;
	margin-top: 20px;
}

.fighter-image {
	height: 260px;
	margin: 20px 0;
}

.fighter-name {
	font-weight: 600;
	font-size: 21px;
}

#loading-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	background: rgba(255, 255, 255, 0.7);
	visibility: hidden;
}

.modal-layer {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(128, 128, 128, 0.6);
}

.modal-root {
	display: flex;
	flex-direction: column;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 0.3rem;
	background-color: white;
}

.modal-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-width: 300px;
	padding: 1rem;
	border-bottom: 1px solid #e9ecef;
	border-top-left-radius: 0.3rem;
	border-top-right-radius: 0.3rem;
	font-weight: 700;
	font-size: 22px;
}

.modal-body {
	padding: 1rem;
}

.close-btn {
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1;
	cursor: pointer;
}

.custom-checkbox {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.custom-checkbox input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #eee;
}

.custom-checkbox:hover input ~ .checkmark {
	background-color: #ccc;
}

.custom-checkbox input:checked ~ .checkmark {
	background-color: #2196f3;
}

.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

.custom-checkbox input:checked ~ .checkmark:after {
	display: block;
}

.custom-checkbox .checkmark:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
